@font-face {
    font-family: 'ny';
    src:  url('https://sites.super.so/slite/assets/ny.woff') format('woff'),
          url('https://sites.super.so/slite/assets/ny.ttf') format('truetype');
}

:root {
    --letter-spacing: 0.2rem;
    --default-text-color: rgb(55,53,47);
    --gray-text-color:rgb(122,122,122);
    --blue-text-color: rgb(11,110,153);
    --purple-text-color: rgb(105, 64, 165);
    --pink-text-color: rgb(173, 26, 114);
    // --pink-link-color: rgb(177, 108, 149);
    --pink-link-color: rgb(184, 101, 151);
    --yellow-text-color: rgb(223, 171, 1);
    --font-fam: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
}

body{
    /* background: radial-gradient(30% 55.51% at 50% 70%, #FFD3C7 0%, rgba(255, 211, 200, 0.04) 100%),
                radial-gradient(30% 80% at 94% 96%, rgba(0, 255, 255, 0.3) 0%, rgba(230, 245, 255, 0) 70%),
                radial-gradient(44% 80% at 4% 94%, rgba(107, 110, 154, 0.8) 0%, rgba(225, 225, 234, 0) 100%), #FFFFFF; */
    // font-family: quiche-sans, sans-serif;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-weight: 100;
    align-content:center;align-items:center;
    margin:0;
    padding:0;
    overflow: hidden;
}

h1, h2, h3 {
    /* font-weight:100; */
    font-weight: 300;
}

h1 {
    margin: auto;
    /* margin-top: 100px !important; */
    font-size: 34px;
    font-family: 'ny', serif;
    // font-family: rollerscript-rough, sans-serif;
    // font-style: normal;
    // font-weight: 400;
    /* text-align:center; */
    margin-bottom:30px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.default-font-h1 {
    font-family: var(--font-fam) !important;
    font-weight: bold;
}

a {
    color:inherit;
    text-decoration: none;
}

.compound-title h1 {
    margin-bottom:0;
}

.parallax-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

.parallax-object {
    // --scale: calc(1)
    // transform-style: preserve-3d;
    
    // position:absolute;
}

.background-gradient {
    content: '';
    height: 100vh;
    min-height: 100vh;
    width: 25vw; //25
    background-color: white;
    // before: 200deg, blue
    background-image: linear-gradient(200deg, #8EC5FC 0%, #E0C3FC 33%, #ffdebd 66%, #cdffc5 100%);
    opacity: 0.3; //0.2
    transform: translateZ(-1px) scale(8) translateY(37.5vh); // scale 8, Y 37.5
    z-index:-2;
    margin-left: auto;
    margin-right: auto;
    // border: 10px solid red;
}
.section-background {
    content: '';
    height: 100vh;
    width:100vw;
    background-color:rgba(255,255,255,0.5);
    position:absolute;
    z-index:0;
}





.nav-bar {
    // padding-left:30px;
    // padding-right:30px;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    border-radius: 8px;
    width: 50vw;
    min-width:400px;
    position:fixed;
    background-color: white;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 7px 25px 0px;
    margin-top: 20px;
    z-index: 1;
    font-size: 12px;
    color: rgb(122,122,122);
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    letter-spacing: var(--letter-spacing);
}
.nav-item {
    padding: 15px 15px 15px 15px;
    // padding: 20px 20px 20px 20px;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.1);
    }
}
.nav-bar a {
    text-decoration: none;
    color: rgb(122,122,122);
    letter-spacing: var(--letter-spacing);
}





.has-top-margin {
    // top:calc(20px + 40px + 20vh);
    top: 15vh;
}
.has-small-top-margin{
    // top:calc(100px);
    // top:10vh;
    // top: 50vh;
    // top:30px;

    // so that the one-column blog post spotlight ends up vertically centered
    // height of post spotlight: little heading 12px + 15px, 35vh post-card, 30px margin-bottom for the first, 10px padding-bottom on post-spotlight
    top: calc((100vh - (12px + 15px + 35vh + 30px + 35vh + 10px)) / 2);
}
.max-width {
    position: absolute;
    width: 50vw;
    max-width: 600px;
    // max-width:40vw;
    min-width: 400px;
    left: 50%;
    // top: calc(20px + 40px + 20vh); // replace 40px by height of nav bar
    min-height:100vh;
    transform: translateX(-50%) ;
}

.max-width h1 {
    font-size: 50px;
    // padding-bottom:10px;
}


.max-width .little-heading {
    font-size: 12px;
    color: rgb(122,122,122);
    letter-spacing: var(--letter-spacing);
    padding-bottom:15px;
}

.max-width .text-block, .text-block-link {
    color: rgb(55,53,47);
    padding-bottom:10px;
}

.text-block-link {
    transition: all 0.3s ease;
    &:hover {
        transform: translateX(20px);
    }
}

.blog-post-body .text-block {
    text-align: justify; text-justify: inter-word;
    line-height: 22px;
    color:black;
}
.blog-post-body .text-block .katex-eqn {
    font-size:14px;
    color:inherit;
}

.blog-post-body .katex-block-eqn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom:10px;
    text-align: center;
    width: 100%;
    color: var(--default-text-color);
}

.blog-post-body .callout {
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    // box-shadow: rgb(0, 0, 0, 0.1) 0px 10px 10px 0px;
}

.pink-link {
    color: var(--pink-link-color) !important;
    text-decoration: underline;
}

.gray-link {
    color: var(--gray-text-color) !important;
    text-decoration: underline;
}

*, *:before, *:after {
    box-sizing: inherit;
}




.post-list {
    position:absolute;
    transform: translateX(30vw);
    width: 50vw;
    max-width:50vw;
    /* margin:auto; */
    padding-top:30px;

}

.blog-header {
    height: 100px;
    display:table-cell;
    vertical-align: middle;
}

.search-bar-wrapper{
    transform: translateX(5vw);
    // background-color:grey;
}
.search-bar {
    transform:translateX(-24px) ;
    width:50vw;
    display: inline-block;
    border: none;
    font-family: 'ny', serif;
    font-size: 24px;
    // margin:auto;
    // margin-top:50px;
    color:#bbbbbb;
    padding-left: 34px;
    padding-bottom:5px;

    background: 
    linear-gradient(to right, transparent,transparent),
    linear-gradient(to right, #bbbbbb, #bbbbbb, #bbbbbb);
    background-size: 100% 1px, 0 1px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.search-bar-icon {
    position:relative;
    display: inline-block;
    height: 20px; 
    width: 20px; 
    background-color: #bbbbbb;
    mask-image: url("/images/search.png");
    -webkit-mask-image: url("/images/search.png");
    // mask-border-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.search-bar:focus {
    outline: none;
    background-size: 0 1px, 100% 1px;

}

.horizontal-line {
    content:'';
    margin-left:2vw;
    margin-bottom: 10px;
    height:1px;
    display:inline-block;
    position:relative;
    background-color:gray;
}

.post-card {
    display:flex;
    margin-bottom:3.1vw;
    /* padding-left: 1vw; */
    padding-right:1vw;
    /* background-color:gray; */
    min-height:150px;
    height:150px;
}

.post-card:hover .post-card-thumb {
    -ms-transform: scale(1.2) !important;
    -moz-transform: scale(1.2) !important;
    -webkit-transform: scale(1.2) !important;
    -o-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
}
// .post-card:hover .post-card-title {
//     transform: translateX(10px);
// }

.post-card-thumb-container{
    /* background-color:rgb(251,243,237); */
    width:300px;
    height:150px;
    overflow:hidden;
    will-change:transform;
    // transform:skewY(-20deg);
    transform-origin: 100% 50%;
    transition: transform 0.25s cubic-bezier(.49,.14,.58,.86);
}
.post-card-thumb {
    /* position:relative; */
    /* border: 5px solid black;  */
    /* box-shadow: 10px 10px 10px rgba(0,0,0,0.5); */
    z-index:1;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:50%;
    background-repeat:no-repeat;
    opacity:1;
    background-color: rgba(251,243,237,0.5); /* Tint color */
    // background-color: #f0b79a44;
    background-blend-mode: multiply;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    // will-change: transform;
    // transform:skewY(-20deg);
}

.post-card-content {
    width:calc(50vw - 300px);
    margin-left:2vw;
}
.post-card-title{
    position: relative;
    /* padding-left: 2vw; */
    font-family:quiche-sans,sans-serif;
	text-decoration: none;
    font-size: 16px;
	/* color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--default-text-color); */
  margin-top:25px;
  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.post-card-tag, .taglist-tag{
    display:inline-block;
    margin-right:5px;
    background-color:#f5f5f5;
    color: #666666;
    font-size:11px;
    padding: 5px 10px 5px 10px;
    border-radius:1px;
    margin-bottom:4px;
}

.tags-list {
    position:absolute;
    width: 20vw;
    transform: translateX(5vw);
    height:100px;
    /* background-color:blue; */
    padding-top:30px;
}

.tags-list .taglist-tag:hover{
    background-color: #eaeaea;
}

.taglist-tag.active {
    background-color:#dddddd;
    color:#222222;
}
.taglist-tag.inactive{
    background-color:#fbfbfb;
    color:#999999;
}

// post spotlight
.post-spotlight {
    position:relative;
    width:100%;
    height: auto;
    display:flex;
    flex:2;
    padding:0;
    overflow:hidden;
    padding-bottom: 10px;
    .post-card {
        padding:0;
        max-width:calc(50% - 20px);
        display:flex;
        flex-wrap:wrap;
        height:300px;
        background-color:white;
        border-radius: 8px;
        flex:1;
        &:first-of-type {
            margin-right: 30px;
        }
        box-shadow:rgba(0, 0, 0, 0.1) 0px 10px 20px -10px;
    }
    .post-card-thumb-container {
        // opacity:0.3;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        position:relative;
        height: 200px;
        width:100% !important;
        left:0; right:0;
        background-color: rgba(163, 177, 255, 0.65); /* Tint color */
        background-blend-mode: multiply;
        // transform:translateX(20px);
        margin-bottom:10px;
    }
    .post-card-content {
        position: relative;
        width:100%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        // width:100% !important;
        // flex: 2;
    }
    .post-card-title {
        font-size: 14px;
        line-height: 16px;
        height: 36px;
        max-height: 36px;
        overflow-y: hidden;
        font-weight: 500;
        // color: var(--gray-text-color);
        width:100%;
        margin-right: 20px;
        margin-left:20px;
        position:relative;
        margin-top:10px;
        margin-bottom: 10px;
        font-family: var(--font-fam);
    }
    .post-card-tags-container {
        // transform: scale(0.7);
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom:30px;
    }
    .break {
        flex-basis: 100%;
        height: 0;
      }
}

.post-spotlight-one-col {
    position:relative;
    width:100%;
    height: auto;
    // display:flex;
    padding:0;
    overflow:hidden;
    padding-bottom: 10px;
    .post-card {
        padding:0;
        max-width:calc(60% - 20px);
        margin-left:50%;
        transform:translateX(-50%);
        width: calc(100% - 20px);
        // display:flex;
        // flex-wrap:wrap;
        height:35vh;
        background-color:white;
        border-radius: 8px;
        box-shadow:rgba(0, 0, 0, 0.1) 0px 10px 20px -10px;
        overflow-y:hidden;
        margin-bottom: 0px;
        &:first-of-type {
            margin-bottom:30px;
        }
    }
    .post-card-thumb-container {
        // opacity:0.3;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        position:relative;
        height: 20vh;
        max-height: 200px;
        width:100% !important;
        left:0; right:0;
        background-color: rgba(163, 177, 255, 0.65); /* Tint color */
        background-blend-mode: multiply;
        // transform:translateX(20px);
        margin-bottom:10px;
    }
    .post-card-content {
        height:12vh;
        position: relative;
        width:100%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        // width:100% !important;
        // flex: 2;
        // overflow-x:wrap;
        overflow-y: hidden;
    }
    .post-card-title {
        font-size: 14px;
        line-height: 16px;
        // height: 36px;
        // max-height: 36px;
        // overflow-y: hidden;
        font-weight: 500;
        // color: var(--gray-text-color);
        width:calc(100% - 40px);
        margin: auto;
        position:relative;
        margin-top:10px;
        margin-bottom: 10px;
        font-family: var(--font-fam);
        // overflow-wrap: break-word;
        word-break:break-all;
    }
    .post-card-tags-container {
        // transform: scale(0.7);
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom:30px;
    }
    .post-card-thumb {
        will-change:transform; 
        transform-origin: 100% 50%;     
        transition: transform 0.25s cubic-bezier(.49,.14,.58,.86);
    }
    a:hover {
        .post-card-thumb {
            -ms-transform: scale(1.2) !important;
            -moz-transform: scale(1.2) !important;
            -webkit-transform: scale(1.2) !important;
            -o-transform: scale(1.2) !important;
            transform: scale(1.2) !important;
        }
    }
}



// gradient ball

.gradient-ball {
	content:'';
//	height: 400px;
//	width:400px;
	position:fixed;
	background-image: url('../images/grad1.png');
	background-size: cover;
	background-repeat: no-repeat;
	filter: blur(80px);
	animation: rotate 50s linear infinite, cycle 47s linear infinite;
	opacity: 0.3;
	z-index:-1;
	transition: all 5s ease;
}

.gradient-ball.large {
	height:100vw;width:100vw;margin-top:-30vh;margin-left: -20vw;
}

.gradient-ball.small {
	height: 400px;
	width:400px;
	margin-left:65vw;
	margin-top:40vh;
	filter: blur(60px) !important;
	opacity:0.4 !important;
	animation: rotate 50s linear infinite, cycle 33s linear infinite, bob 10s ease infinite;
}

@keyframes bob {
	0%, 100% {
		margin-top:40vh;
	}
	50% {
		margin-top:20vh;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg); 
	} 
}

@keyframes cycle {
	0%, 100% {
		background-image: url('../images/grad1.png');
	}
	17% {
		background-image: url('../images/grad2.png');
	}
	33% {
		background-image: url('..images/grad3.png');
	}
	49% {
		background-image: url('..images/grad4.png');
	}
	65% {
		background-image: url('..images/grad5.png');
	}
	82% {
		background-image: url('..images/grad6.png');
	}
}




// cv button outline version
// background: linear-gradient(to right, red, purple);
.button-border-line {
    display:inline-block;
    width:auto !important;
    background-clip: border-box;
    background-color:transparent;
    border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;

    border: 1px solid;
    border-color: var(--pink-text-color);
    color:var(--pink-text-color);
    margin-bottom:20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    // margin-right:10px;

    &:hover {
        // background-color: var(--pink-text-color);
        border-color: transparent;
        background: linear-gradient(110deg, #ffab54 0%, #ff6e68 33%, #fb6e94 50%, #c7a1ef 75%);
        box-shadow: rgba(0,0,0,0.1) -2px 2px 10px 5px;
        color:white;
    }
}

// cv button white version
.button-border {
	background-clip:border-box;
	background-color:white;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	box-shadow:rgba(0, 0, 0, 0.1) 0px 10px 20px -10px;
	box-sizing:border-box;
	color:black;
	display:flex;
	padding-bottom:24px;
	padding-left:24px;
	padding-right:24px;
	padding-top:24px;
    top:0;
	// position:relative;
	transition-duration: 0.3s;
	transition-property:all;
	transition-timing-function:cubic-bezier(0.8, 0.04, 0.4, 1);
	width:64px;
	word-break:break-word;
    transform:scale(0.7);
	
	// max-height:64px;

    // font-size: 10px;
	
	&:hover {
		width:200px;
		// background-color:#F6F6F6;	
		.button-content:after {
			content:attr(content);
		}
		.button-image {
			opacity:0;
			position:absolute;
		}
        // background-color: rgba(255,255,255,0.5);
	}
	.button-content {
		content:'';
		width:100%;
		overflow-x:hidden;
		white-space: nowrap;
		text-align: center;
		align-items:center;
		// font-family: Epilogue, Helvetica, 'Nunito', sans-serif;
		font-size:16px;
        color:var(--default-text-color);
	}
	
	.button-image {
		align-items:center;
		height:16px;
		content: url('../images/download-links.png');
		opacity:1;
        // border: 1px solid red;
	}

}


.side-nav-button {
    margin:auto;
    padding-top:calc(3vw - 6px);
    padding-bottom:calc(3vw - 6px);
    margin-top:24px;
    margin-bottom:24px;
    background-color:white;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 10px 20px -10px;
    width:6vw;
    text-align:center;
    border-radius:100px;
    font-size:12px;
    line-height:12px;

    &:hover {
        box-shadow:rgba(0, 0, 0, 0.5) 10px 20px 20px -20px;
        // &:after {
        //     position:absolute;
        //     transform:translateX(-7vh) translateY(-10vw);
        //     width:70%;
        //     content:url('https://www.freeiconspng.com/thumbs/white-arrow-png/white-arrow-transparent-png-10.png');
        // }
    }
}

.side-nav-button.blog-button {
    // content:'BLOG';
    background-color:transparent;
    border: 1.5px solid var(--pink-text-color);
    color:var(--pink-text-color);
    box-shadow: none;
    transition: all 0.3s ease;

    &:hover{
        background-color: var(--pink-text-color);
        color:white;
    }
}

.loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;

    transition: all 0.3s ease;

    svg path,
    svg rect{
        fill: rgb(221, 35, 147);
    }
  }

.left-slide-pane {
    animation: slide-left-and-fade 0.5s ease;
    opacity:0;
}

@keyframes slide-left-and-fade {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(-25vw);
        opacity: 1;
    }
    100% {
        transform: translateX(-25vw);
        opacity: 0;
    }
}